*.pdf
*.lnk
Yobidashi-*.jar
temp.html
md.html
logs/
user/
.git/
.gradle/
.settings/
bin/
build/
backup/
gradle/
gradlew*
*.exe
.classpath
.project
*.groovy
.class
.externalToolBuilders/
*.db
*.epub
*.bin
script.py
sample
*.log
/build_e/
