
<H1>アプリケーション情報</H1>
<table style="margin-left: auto;margin-right: auto;">
<tr>
<td>
<H2>Java</H2>
<table>
<tr><th>項目</th><th>値</th></tr>
<tr><td>Java バージョン</td><td>${map.get("Java Version")}</td></tr>
<tr><td>Java Home</td><td>${map.get("Java Home")}</td></tr>
</table>

</td>
<td>
<H2>実行環境</H2>
<table>
<tr><th>項目</th><th>値</th></tr>
<tr align="left"><td>最大メモリ</td><td>${map.get("Max Memory")}[MB]</td></tr>
<tr align="left"><td>空きメモリ</td><td>${map.get("Free Memory")}[MB]</td></tr>
<tr align="left"><td>全メモリ</td><td>${map.get("Total Memory")}[MB]</td></tr>
<tr><td>使用可能プロセッサ数</td><td>${map.get("Available Processor")}</td></tr>
</table>

</td>
</tr>

</table>
