<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>${title}</title>
        <script src="public/javascripts/expander.js" charset="utf-8"></script>
        <!--Import jQuery before materialize.js-->
        <script src="public/javascripts/jquery-2.1.1.min.js" charset="utf-8"></script>
        <script src="public/javascripts/GitHub-jQuery-Repo-Widget/jquery.githubRepoWidget.min.js" charset="utf-8"></script>
        <script src="public/javascripts/highlightjs/highlight.pack.js"></script>

        <link rel="stylesheet" type="text/css" href="public/javascripts/highlightjs/styles/github.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/football.css" />
        <link rel="stylesheet" type="text/css" href="public/stylesheets/material/css/base.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/ascii_art.css" />
        <link rel="stylesheet" type="text/css" href="public/stylesheets/additional.css" />
        <link rel="stylesheet" type="text/css" href="public/stylesheets/main_material.css" />
        <link rel="stylesheet" type="text/css" href="user/css/html/user.css" />
    </head>
    <body class="page-blue bg" ${bodyAdditional}>
        <header class="header">
			<ul class="nav nav-list pull-left">
				<li>
					<a class="menu-toggle" href="#menu">
						<span class="access-hide">Menu</span>
						<span class="icon icon-menu"></span>
						<span class="header-close icon icon-close"></span>
					</a>
				</li>
			</ul>
			<a class="header-logo">${wikiTitle} - ${title}</a>
			<ul class="nav nav-list pull-right">
				<li>
					<a class="menu-toggle" href="#profile">
						<span class="access-hide">Right Side Menu</span>
						<span class="avatar avatar-sm"><img alt="alt text for your avatar" src="${wikiIcon}"></span>
						<span class="header-close icon icon-close"></span>
					</a>
				</li>
			</ul>
		</header>
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<nav class="menu" id="menu">
				<div class="menu-scroll">
					<div class="menu-wrap">
						<div class="menu-content">
							${menu}
						</div>
					</div>
				</div>
			</nav>
			<nav class="menu menu-right" id="profile">
				<div class="menu-scroll">
					<div class="menu-wrap">
						<div class="menu-content">
							${subheadings}
						</div>
					</div>
				</div>
			</nav>
        </header>
        <a id="head"></a>
        <div id="content">
			<div class="container">
            	${content}
        	</div>
        </div>
	</body>
    <script type="text/javascript">
        // for highlighting
        hljs.initHighlightingOnLoad();
    </script>
	<!-- ここでないとダメな模様 -->
	<script src="public/stylesheets/material/js/base.js" type="text/javascript"></script>
</html>
