.lineGraphScrollBox {
	overflow: scroll;
	width: 100%;
	white-space: nowrap;
}
#jump2head {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: silver;
	background: #006da0;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}
#jump2head a{
	color: #fff;
}
a:link.redLink	{
	color:#ba0000;
}
/**
 * @see <a href="http://codepen.io/jcalifa/full/QwepvY">This page does not use JS.</a>
 */
style.onPage {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    padding: 14px;
    text-align: left;
    background: #FFF;
    color: #444;
    white-space: pre;
    font-family: Monaco, monospace;
}
 
.onPage:focus {
    outline: 0;
}

.bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
