/**
 * Football pitch
 */
span.pitch_name {
	font-weight: bold;
	font-size: smaller;
	color: white;
}
span.pitch_name:hover{
	font-size: larger;
	background:rgba(255,255,255,0.8);
	padding:7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	-moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}
span.pitch_gk {
	text-shadow: 1.5px 2.5px 2.5px maroon;
}
span.pitch_df {
	text-shadow: 1.5px 2.5px 2.5px blue;
}
span.pitch_mf {
	text-shadow: 1.5px 2.5px 2.5px green;
}
span.pitch_fw {
	text-shadow: 1.5px 2.5px 2.5px gold;
}
