a {
    color: #111693;
}
.side-menu-title {
    margin-left: 10px;
}
.content-area {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.page-blue .header {
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);*/
    background-color: #111693; !important
}
.menu-content .nav {
    margin-top: 25px;
}
.lineGraphScrollBox {
  overflow: scroll;
  width: 100%;
  white-space: nowrap;
}
img#wikiIcon {
  top: 0;
  width:72px;
  height:72px;
  position: fixed;
}
textarea#code {
  background: #FFFFFF;
  width:99%;
  height:40%;
}
input.titleArea{
  font-size: 18pt;
  font-weight: bold;
  width: 90%;
}
/** (130323) グラフのパラメータ設定エリア */
div.params {
  position: fixed;
  right: 10%;
  margin-bottom: 0px;
}
header nav a:hover{
  font-size: 20pt;
}
.header-logo {
    font-size: 30px;
    padding: 20px;
}
.nav{
  padding: 15px;
}

/** (121020) ナビゲーションバー拡張 */
#pageTitle {
  height: 20px;
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  background: #000000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: silver;
  text-shadow: 1.5px 2.5px 2.5px #004daf;
  text-decoration: none;
  position: absolute;
  top: 45px;
  right: 200px;
}
/** (121015) http://css-happylife.com/ 参考 */
a:hover, span:hover {
  background:rgba(255,255,255,0.8);
  border:1px solid #ccc;
  padding:7px 10px;
  -webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
  -moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
  box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}
#gotoPageTop{
  position:fixed;
  right:150px;
  bottom:15px;
  background: #111693;
  font-weight: bold;
  text-shadow: 1.5px 2.5px 2.5px #004daf;
  transition:all 2.0s ease-in-out
}
#gotoPageTop a{
  color: #FFF;
  font-weight: bold;
  text-shadow: 1.5px 2.5px 2.5px #004daf;
  text-decoration: none;
}

/** Main layout **/
html, body {
  font-family: Helvetica, Arial, Sans !important;
}
body {
  margin: auto;
  background-position: 50% 50%;
  background-color: #EEEECC;
}

/** Blog header **/

.header-logo {
  width: 80%;
    text-overflow: ellipsis;
}

#header {
  padding: 8px 0;
  position: relative;
}

#logo {
  position: absolute;
  height: 45px;
  margin-left: 90px;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -4px;
  text-shadow: 1.5px 2.5px 2.5px #004daf;
  text-decoration: none;
}

#logo span {
  max-width:0;
  color: #f00;
  font-size: 70%;
}
#logo a{
  position: absolute;
  height: 45px;
  margin-left: 20px;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -4px;
  text-shadow: 1.5px 2.5px 2.5px #004daf;
  text-decoration: none;
}
#logo a:hover{
  padding:2px 0px;
}

#main {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  padding: 20px;
  margin-top: 45px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

h3 span {
  font-size: 80%;
  font-weight: normal;
}


/** Footer **/

#footer {
  font-size: 70%;
  padding: 10px 30px;
  text-align: center;
  color: #869AB1;
  margin-top: 30px;
}

#footer a {
  color: #869AB1;
  font-weight: bold;
}

/* menubar */
div.body {
  position: relative;
}

div.content-area {
  /*margin-left: 16%;*/
  padding: 0px 0px 5px 5px;
}

/*
tooltip HTML sample
<a href="#" class="tooltip">
  ここにマウスを当てる
  <span class="tooltipBody">
    表示する文字
    <span class="tooltipAngle">
      <span class="tooltipAngleInner" />
    </span>
  </span>
</a>
*/
.tooltip {
    position: relative;
}
.tooltip .tooltipBody {
    border: solid 2px #f98325;
    position: absolute;
    left: 1em;
    top: -2.7em;
    text-decoration: none;
    visibility: hidden;
    padding: 3px 5px;
    width: 200px;
    zoom: 1;
}
.tooltip:hover ,
.tooltip:hover .tooltipBody {
    background-color: white;
    visibility: visible;
    z-index: 10;
}
.tooltip .tooltipBody .tooltipAngle {
    border-right: solid 10px transparent;
    border-left-width: 0;
    border-top: solid 10px #f98325;
    line-height: 0;
    position: absolute;
    left: 1em;
    bottom: -10px;
}
.tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
    border-right: solid 5px transparent;
    border-left-width: 0;
    border-top: solid 5px white;
    line-height: 0;
    position: absolute;
    left: 2px;
    bottom: 5px;
}

/*	not supported tanseparent for border by IE6. */
* html .tooltip .tooltipBody .tooltipAngle {
    border-right-color: white;
    bottom: -11px;
}
* html .tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
    border-right-color: #f98325;
}
.highlight {
  background-color: yellow;
}

.table {
  width: 98%;
}

table {
  margin: 10px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border:0.5px solid #0099cc;
  /* Firefox */
  -moz-box-shadow: 1px 1px 3px #000;
  /* Safari,Google Chrome */
  -webkit-box-shadow: 1px 1px 3px #000;
}
