<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>${title}</title>
        <!--Import jQuery before materialize.js-->
        <script src="${jarPath}javascripts/jquery-2.1.1.min.js" charset="utf-8"></script>
        <script src="${jarPath}javascripts/highlightjs/highlight.pack.js"></script>
        <script src="${jarPath}javascripts/expander.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="${jarPath}javascripts/highlightjs/styles/github.css">
        <link rel="stylesheet" type="text/css" href="${jarPath}stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="${installDir}user/css/html/user.css" />
    </head>
    <body class="bg" ${bodyAdditional}>
        <div class="container">
          <h1><a href="JavaScript:open('expander_subhead')">
            見出し(クリックで展開)</a></h1>
          <div class="expander" id="expander_subhead" style="display: none;">
            ${subheadings}
          </div><script>close("expander0");</script>
          ${content}
        </div>
    </body>
    <script type="text/javascript">
        // for highlighting
        hljs.initHighlightingOnLoad();
    </script>
</html>
