<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>${title}</title>
        <script src="assets/javascripts/expander.js" charset="utf-8"></script>
        <!--Import jQuery before materialize.js-->
        <script src="assets/javascripts/jquery-2.1.1.min.js" charset="utf-8"></script>
        <script src="assets/javascripts/GitHub-jQuery-Repo-Widget/jquery.githubRepoWidget.min.js" charset="utf-8"></script>
        <script src="assets/javascripts/highlightjs/highlight.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/javascripts/highlightjs/styles/github.css">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/material/css/base.css">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/football.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main_2nd.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/ascii_art.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/additional.css" />
        <link rel="stylesheet" type="text/css" href="user/css/html/user.css" />
    </head>
    <body class="page-blue bg" ${bodyAdditional}>
      <div id="content">
        <div class="container">
          ${content}
        </div>
      </div>
    </body>
    <script type="text/javascript">
        // for highlighting
        hljs.initHighlightingOnLoad();
    </script>
</html>
